.sign_in_button a {
	text-align: center;
	float: right;
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding-top: 5px;
	font-size: 14px;
	background-color: white;
	border: solid 1px white;
	border-radius: 2px;
	width: 90px;
	height: 30px;
}

.forgot_password {
	padding-top: 100px;
	text-align: center;
}

.forgot_password h1 {
	text-align: center;
	color: white;
	font-size: 55px;
}

.forgot_password input {
	font-size: 19px;
	width: 300px;
	height: 40px;
	padding-left:30px;
	border: #E3E3E3 solid 1px;
}

.forgot_password button {
	background-color: #499ECA;
	border: solid 1px #499ECA;
	width: 300px;
	height: 40px;
	font-size: 19px;
	color: #E3E3E3;
	text-align: center;
}

.forgot_password a {
	color: white;
	text-decoration: none;
}