<nav class="row" ng-init="emailSent = 0">
    <div class="col-md-2">
        <button class="logo" ng-click="go('/login')" type="button">stumblr</button>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-4 sign_in_button">
        <a href="/#/login">Sign in</a>
    </div>
</nav>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 forgot_password">
        <h1>stumblr</h1>
        <form name="forgot_password_form" class="forgot_password_form" ng-submit="forgotPassword(user_email)">
            <input type="email" placeholder="Email" ng-model="user_email" required>
            <br><br>
            <button type="submit" ng-disabled="forgot_password_form.$submitted">Reset Password</button>
        </form>
        <br>
        <div class="error_message" ng-show="emailSent == 1">Please check your inbox!</div>
        <div class="error_message" ng-show="emailSent == -1">Could not send the reset password instructions.</div>
        <br>
    </div>
    <div class="col-md-4"></div>
</div>