<div class="modal">
    <div class="modal-content">
        <form ng-submit="createPost(postID, 'text', newTitle, newContent, '', '', newTags);">
            <input class="title_input" type="text" placeholder="Title" ng-model="newTitle">
            <br><br>
            <textarea placeholder="Your text here" ng-model="newContent"></textarea>
            <br><br>
            <input class="tags" type="text" placeholder="#tags" ng-model="newTags">
            <br>
            <p class="tag_label">Separate with comas (e.g.: things I think about during class, catz and lolz)</p>
            <br><br><br>
            <button class="submit_button" type="submit" ng-disabled="newTitle == null && newContent == null && newTags == null">Publish</button>
        </form>
        <button class="close_button" type="button" ng-click="closeModal()">Close</button>
    </div>
</div>